body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h3 {
    text-align: center;
    color: #333;
}

/* Stile della tabella prodotti */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

img {
    max-width: 100px;
    border-radius: 8px;
}

/* Stile per i prodotti */
td div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p {
    margin: 0;
}

a{
    text-decoration: none;
    color:black;
}

.nome{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.descrizione{
    font-family: sans-serif;
    font-size: 15px;
}
